body {
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  padding-top: 20px;
}

.contanier {
  background-color: white;
  width: 420px;
  height: 600px;
  box-shadow: 5cap;
  border-radius: 15px;

  transition: transform 500ms ease;
}

.my-comment-part {
  display: flex;
}
.profile-photo-part {
  width: 70px;
  margin-top: 10px;
  margin-left: 15px;
}
.input {
  margin-top: 10px;
  width: 320px;
  height: 70px;
  padding-bottom: 20px;
  resize: none;
  outline: none;

  transition: padding-bottom 400ms ease ;
}

::placeholder {
  position: absolute;
  top: 10px;
  left: 3px;
}
.reset-button {
  width: 60px;
  height: 35px;
  margin-top: 10px;
  margin-left: 220px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: background-color 400ms ease;
}
.reset-button:hover {
  background-color: #d9d9d9;
}
.comment-button {
  width: 100px;
  height: 35px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffaa00;
  color: white;
  cursor: pointer;

  transition: background-color 400ms ease;
}
.comment-button:hover {
  background-color: #cc8800;
}

.myComment {
  margin-top: 10px;
  background-color: #737373;
  border: solid;
  border-width: 3px;
  border-color: white;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-left: 5px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  word-wrap:break-word;
  word-break: break-all;
}

.myImage {
  width: 50px;
}
.deleteButton {
  display: inline;
  width: 60px;
  height: 25px;
  margin-left: 40px;
  margin-top: 10px;
  background-color: white;
  color: red;
  border: 2px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  cursor: pointer;

  transition: background-color 390ms ease;
}
.deleteButton:hover {
  background-color: #ffcccc;
}
.comments {
  display: flex;
  align-items: center;
}